ul{
    list-style: none;
}
.turn-wrapper{
    text-align: center;
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.home-item a{
    color: #333;
    width: 100%;
    height: 100%;
    display: block;
}
.pic-wrapper{
    position: absolute;
    top: 0;
    width: 400%;
    height: 210px;
    margin: 0;
    padding: 0;

}
.pic-wrapper li{
    width:  25%;
    height: 210px;
    float: left;
}
li img{
    width: 100%;
    height: 100%;
}

.circle{
    position: absolute;
    bottom: 10px;
    width: 50%;
    left: 25%;
    height: 20px;
}
.circle span{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 3px 4px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 90;
}

.home_list_menu{
    width: 94%;
    padding: 0 3%;
}



.home-item{
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #f7f7f7;
}

.list-title{
    font-size: 1rem;

}
.homeList{
    margin: 0;
    padding: 0;
}
.home-item-title{
    display: inline-block;
    margin-top: 20px;
}
.English{
    font-size: 0.6rem;
    color: #6a4a21;
}
.home-item img {
    float: right;
    margin: 1rem 0;
    width: 2rem;
    height: auto;
}

















